* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

img {
  max-width: 100%;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.section__title {
  margin-bottom: 100px;
}

.button-o {
  border: 2px solid #507fe1;
  padding: 17px 22px;
  font-size: 12px;
  text-transform: uppercase;
  color: #507fe1;
  background-color: #fff;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-decoration: none;
}

.button {
  text-decoration: none;
  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  background-color: #507fe1;
  color: #fff;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.button:hover {
  cursor: pointer;
}

.button-fitting {
  color: #507fe1;
  background: #fff;
}

.button-add {
  background-color: #7c9fe8;
  color: #fff;
}

.button-like {
  background-color: #507fe1;
  height: 30px;
  width: 30px;
  border: none;
}

.bg-secondary {
  background: #f1f1f1;
}

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #ddd;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label:before {
  background-color: #507fe1;
}

.checkbox {
  display: none;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.checkbox-label:hover {
  cursor: pointer;
}

.checkbox-label:before {
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .button {
    font-size: 10px;
    font-size: 10px;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 24px;
  }
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
}

.navbar__phone {
  display: block;
  margin-bottom: 5px;
  font-size: 19px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-decoration: none;
  color: #262626;
}

.navbar__small-text {
  display: block;
  font-size: 14px;
  color: #7b7b7b;
  text-decoration: none;
}

.menu {
  position: fixed;
  z-index: 0;
  top: 80px;
  left: 0;
  padding: 16px 0;
  width: 100%;
  background-color: #507fe1;
  color: #ffffff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.menu_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
}

.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #89a9eb;
  margin: 2px 0;
}

.logo__text {
  display: block;
  margin-bottom: 5px;
  font-size: 19px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.logo__description {
  display: block;
  font-size: 14px;
  color: #7b7b7b;
}

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu {
    top: 60px;
  }
  .menu-button {
    height: 60px;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    margin-bottom: 20px;
  }
}

.hero {
  background: #f1f1f1;
  padding-top: 120px;
  padding-bottom: 270px;
}

.hero__title {
  font-size: 30px;
  margin-bottom: 40px;
}

.hero__subtitle {
  display: block;
  margin-bottom: 67px;
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.offer {
  padding: 129px 0;
}

.offer-block {
  background-color: #fff;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  padding: 80px;
  margin-top: -100px;
}

.offer__title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-bottom: 20px;
}

.offer__subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
  max-width: 820px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin-bottom: 30px;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}

.form__group {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.form__input {
  width: 100%;
  border-right-width: 0px;
}

.form__input:last-child {
  border-right-width: 1px;
}

.form__button {
  height: 80px;
  width: 100%;
}

.form__policy {
  display: inline-block;
  margin-left: 45px;
  font-size: 17px;
}

@media (max-width: 992px) {
  .offer-block {
    background: none;
    background-color: #fff;
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__row-checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form__group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .form__input {
    margin-bottom: 20px;
  }
  .form__policy {
    margin-left: 0;
    margin-top: 30px;
  }
  .offer__title {
    font-size: 18px;
  }
  .offer__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .form__row-checkbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form__checkbox {
    margin-bottom: 20px;
  }
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-block__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  .features-block__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .features-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 50px;
  }
}

.catalog {
  background-color: #f5f6f8;
}

.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__card {
  margin-bottom: 30px;
}

.catalog-card {
  max-width: 570px;
  position: relative;
  -webkit-box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
}

.catalog-card:hover .catalog-card__buttons {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.catalog-card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.catalog-card__button {
  padding: 10px;
  font-size: 11px;
  border: none;
  text-transform: uppercase;
  height: 30px;
}

.catalog-card__tag {
  position: absolute;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  background-color: rgba(80, 127, 225, 0.6);
  padding: 10px;
}

.catalog-card__image {
  display: block;
}

.catalog__link {
  text-align: center;
  margin-top: 60px;
}

.catalog__link-more {
  display: inline-block;
  margin-bottom: 24px;
}

.catalog__description {
  display: block;
}

@media (max-width: 1199px) {
  .catalog-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog-card {
    max-width: 470px;
  }
}

.blog__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.blog__title {
  font-size: 24px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.blog__link-more {
  color: #507fe1;
  font-size: 16px;
}

.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-list__image {
  height: 200px;
  overflow: hidden;
}

.blog-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 80px;
}

.blog-list__card {
  margin-bottom: 40px;
}

.blog-card {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

@media (max-width: 1199px) {
  .blog-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .blog-list__card {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-block__card {
  margin-bottom: 10px;
}

.price-card {
  background-color: #fff;
  position: relative;
}

.price-card__text {
  padding: 20px;
  font-size: 15px;
}

.price-card__title {
  margin: 0;
}

.price-card__cost {
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.price-card__pricetag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-card__button {
  text-align: center;
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  height: 80px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  padding-top: 0;
}

.price-card:hover .price-card__button {
  z-index: 99;
  bottom: -80px;
}

@media (max-width: 1199px) {
  .price-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price-block__card {
    margin: 20px;
  }
}

.step {
  position: relative;
  text-align: center;
}

.step:last-child:before {
  display: none;
}

.step:before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgba(126, 123, 120, 0.9);
  display: block;
  position: absolute;
  top: 30%;
  right: -63%;
}

.step__title {
  font-size: 18px;
}

.step__text {
  max-width: 160px;
  margin: auto;
  margin-bottom: 30px;
}

.steps {
  background-color: #f1f1f1;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .step {
    width: 33%;
  }
  .step:before {
    display: none;
  }
}

@media (max-width: 768px) {
  .step {
    width: 100%;
  }
}

.before-slider-wrap {
  max-width: 640px;
  margin: auto;
  position: relative;
  z-index: 99;
}

.before-slider-arrows {
  position: absolute;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.before-slider__dots {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.before-slider__dots li {
  width: 10px;
  height: 10px;
  background-color: #d1d1d1;
  border-radius: 50%;
  margin: 5px;
}

.before-slider__dots li:hover {
  cursor: pointer;
}

.before-slider__dots li.slick-active {
  background-color: #5b7fda;
}

.before-slider__dots button {
  display: none;
}

.arrow {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.arrow:focus {
  outline: none;
}

.arrow-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.arrow-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.reviews {
  background-color: #f5f6f8;
}

.reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-slider__image {
  display: block;
  height: 70px;
  width: 70px;
  border: 2px solid #6a99e9;
  border-radius: 50%;
  margin: 20px auto;
}

.reviews-slider__item {
  text-align: center;
}

.reviews-slider__text {
  position: relative;
  font-size: 15px;
  font-style: italic;
  max-width: 370px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.reviews-slider__text:after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 10px;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
}

.factory-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.factory-block__image {
  margin-right: 70px;
  margin-top: 20px;
}

.factory-block__text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 20px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-block__item {
  text-align: center;
}

.contacts__text {
  font-size: 16px;
}

.contacts__link {
  text-decoration: none;
  color: #262626;
}

.contacts__image {
  margin-bottom: 25px;
}

.contacts__adress {
  font-style: normal;
}

@media (max-width: 768px) {
  .contacts-block_item {
    width: 100%;
    margin-bottom: 30px;
  }
  .contacts__adress {
    max-width: 200px;
    margin: auto;
  }
}

.questions__title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.questions__link {
  font-size: 24px;
  color: #507fe1;
}

.questions-block {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.questions-block a {
  margin-top: 33px;
}

.footer {
  padding: 40px 0;
  background-color: #262626;
  color: #ffffff;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer__title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.footer__subtitle {
  display: block;
  margin-bottom: 48px;
}

.footer__copy {
  color: #767676;
}

.footer__pay-logo {
  margin: 15px;
}

.footer__contacts {
  text-align: right;
}

.footer__phone {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.footer__mail {
  display: block;
}

.footer-social__link {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__contacts {
    margin-top: 30px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */